.body {
  box-sizing: border-box;
  height: 100vh;
  /* background-color: antiquewhite; */
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.headerText {
  font-family: serif;
  opacity: 0.6;
}

.headerList {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.headerList li {
  padding-left: 30px;
}

.headerList li a {
  color: black;
  text-decoration: none;
  opacity: 0.8;
}
